# Ensure Dart is detected
*.dart linguist-detectable=true
*.dart linguist-language=Dart

# Ignore vendor/native code
android/** linguist-vendored
ios/** linguist-vendored
build/** linguist-vendored
test/** linguist-detectable=true
